.header {
  border: 1px solid #5c64dc;
  background: rgb(125, 227, 250);
  background: linear-gradient(180deg, #517dc5 16%, #3038cb 44%, #2824cb 74%);
  /* background: url('../../../public/Images/Global/header.jpg') no-repeat center;
    background-size: cover; */
}
