.tabButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 10px;
  margin-top: 50px;
}

.tabButton {
  border: 1px solid #3338d3;
  border-radius: 5px;
  padding: 7px 30px;
  color: #fff;
  font-weight: bold;
}

.tabButton.active {
  background: linear-gradient(
    90deg,
    rgba(125, 227, 250, 1) 16%,
    rgba(89, 146, 252, 1) 44%,
    rgba(51, 59, 255, 1) 74%
  );
}
