.wrapperSec {
  max-width: 1000px;
  border-radius: 10px;
  padding: 0 30px 30px;
  background: rgb(125, 227, 250);
  background: linear-gradient(
    180deg,
    #333aff27 16%,
    #333aff1d 44%,
    #333aff0b 74%
  );
}
.boxCard {
  width: calc(33.33% - 10px);
  padding: 20px;
  border: 1px solid #3338d3;
  border-radius: 5px;
}

.boxCard ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.boxCard ul li span {
  border: 2px solid #d3d3d3;
  border-radius: 4px;
  padding: 2px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .boxCard {
    width: 100%;
    margin-bottom: 15px;
  }
}
