.platforms {
    margin-top: 80px;
    padding: 30px;
    border-radius: 8px;
    background: rgb(125, 227, 250);
    background: linear-gradient(360deg, rgba(125, 227, 250, 0.2) 16%, rgba(89, 146, 252, 0.2) 44%, rgba(51, 59, 255, 0.2) 74%);
}

.platforms h2 {
    color: #fff;
    margin-bottom: 20px;
    display: block;
}

.platforms select {
    background: transparent;
    color: #fff;
    border: 1px solid #9C98BE;
    padding: 15px 20px;
    width: 100%;
    border-radius: 8px;
}

.platforms select:focus{
    outline: none;
}

.instrument option {
    color: black;
}

.selectpaddingleft{
    padding-left: 45px !important;
   
    background: url('/Images/Global/select-icon.svg') no-repeat right transparent !important;
    -webkit-appearance: none;
    background-position-x: 98% !important;

}

.selecticon{
    position: relative;
}

.selecticonimg{
    position: absolute;
    top: 18px;
    left: 15px;
}

.input{
    width: 100%;
    background-color: transparent;
    
    border: 1px solid #9C98BE;
    padding: 15px;
    border-radius: 5px;
}