.instrumentBox {
    margin-top: 80px;
    padding: 30px;
    border-radius: 8px;
    background: rgb(125, 227, 250);
    background: linear-gradient(360deg, rgba(125, 227, 250, 0.2) 16%, rgba(89, 146, 252, 0.2) 44%, rgba(51, 59, 255, 0.2) 74%);
}

.instrumentBox h2 {
    color: #fff;
    margin-bottom: 20px;
    display: block;
}

.instrumentBox select {
    background: transparent;
    color: #fff;
    border: 1px solid #9C98BE;
    padding: 15px 20px;
    width: 100%;
    border-radius: 8px;
}

.instrumentBox select:focus{
    outline: none;
}

.instrument option {
    color: black;
}