.RangeBox label {
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}

.RangeBox input {
    background: #252656;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 200px;
    width: 100%;
}

.RangeBox input:focus{
    outline: none;
}