.RangWrapper {
    position: relative;
    width: calc(25% - 20px);
    color: #fff;
    padding: 20px;
    border: 1px solid #333BFF;
    background: #202020;
    border-radius: 20px;
}

.Pill {
    position: absolute;
    content: "";
    background: #333BFF;
    color: #fff;
    top: -10px;
    right: 20px;
    border-radius: 20px;
    font-size: 12px;
    padding: 3px 15px;
    box-sizing: border-box;
    z-index: 2;
}


@media(max-width:991px) {
    .RangWrapper {
        width: calc(50% - 20px);
    }
}

@media(max-width:600px) {
    .RangWrapper {
        width: 100%;
    }
}