.searchBtn {
    border: 1px solid #5C96CF;
    background: linear-gradient(90deg, rgba(125, 227, 250, 1) 16%, rgba(89, 146, 252, 1) 44%, rgba(51, 59, 255, 1) 74%);
    padding: 8px 30px;
    color: #fff;
    border-radius: 8px;
}