.Testimonials {
    text-align: center;
    color: white;
    font-weight: 600;
    line-height: 52px;
    font-size: 40px;
}

@media(max-width:768px) {
    .Testimonials {
        line-height: 1;
        font-size: 20px;
    }
}